.flex_header {
    display: flex;
    justify-content: end;
    gap: 0rem 5rem;
    list-style: none;
}

h1 {
    text-align: center;
}

div.form_parent {
    position: relative;
    height: 500px;
}

.block_form {
    width: 300px;
    background-color: #b1f3ca;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 3rem 5rem;
    border-radius: 20px;
    min-width: 150px;
    z-index: 20;
}

.none_form {
    width: 300px;
    background-color: #b1f3ca;
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 3rem 5rem;
    border-radius: 20px;
    min-width: 150px;
}

.contents {
    width: 100%;
}

.content {
    display: block;
    height: 150px;
}

.article_list {
    position: relative;
    z-index: 10;
    height: 400px;
    padding: 0rem 3rem;
}

.opacity {
    opacity: 0.3;
}